:host {
  display: none;
}

:host(.active-route) {
  display: block;

  ::slotted([slot='content']) {
    display: none;
  }
}

:host(.active-route-exact) {
  display: block;
  transition: opacity .5s;
  ::slotted([slot='content']) {
    display: block;
  }
}

.removed {
  opacity: 0;
}
