h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 {
  font-size: 1.2rem;
  border-bottom: 1px dotted var(--primary);
  padding-bottom: .2em;
}

h2,
h3,
h4 {
  color: var(--primary);
}

h2, h3, h4 {
  margin: .75em 0 .25em 0;
}

a,
a:link,
a:visited,
a:active
{
  color: #3e3f3e ;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  text-decoration: underline;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid var(--primary);
  margin: 2em 0;
  padding: 1em;
}
blockquote > p {
  margin: 0;
}

table {
  width: 100%;
  border: solid 1px var(--primary);;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: scroll;
}
table thead th {
  background-color:var(--primary);;
  border: solid 1px var(--primary);;
  color: #fff;
  padding: 10px;
  text-align: left;
}
table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
}


#viewdo-logo {
  padding: 1em 0 1em 1em;
}


h1.brand {
  font-family: 'Nunito', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  font-size: calc(100% + 2vw);
}

.tag-line {
  color: var(--primary);
  font-family: 'Nunito', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  font-size: calc(100% + 3rem);
  position: relative;
  margin: 0;
}

.brand {
  font-family: 'Nunito', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
}

b.brand {
  color: var(--primary);
  font-size: (100% + 1.3vm);
}


.x-nav-bottom {
  background-image: linear-gradient(to bottom, transparent, #fff);
  background-size: fill;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 3vh 0 1vh 0;
  z-index: 1;
  overflow: auto;
}
.x-nav-bottom::after {
  content: "";
  clear: both;
  display: table;
}
.x-nav-bottom  [slot='end'] {
  float: right;
  right: 0;
}
.x-nav-bottom  [slot='start'] {
  float: left;
}



.hero {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hero figcaption {
  margin: -1rem auto 0;
}

figcaption {
  font-size: 80%;
  background: mistyrose;
  padding: 1rem;
  margin: -1rem 0 1rem -1rem;
  z-index: 1;
  position: relative;
  width: 80%;
  max-width: 400px;
}

figure + figure figcaption {
  float: right;
  margin: -1rem -1rem 1rem 0;
}


/* Bootsrap */

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--primary);
  border-color: var(--primary-shadow);
}
.btn-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary-shadow);
}
.btn-primary {
  background-color: var(--primary);
}
.container-fluid {
  max-width: var(--content-max-width);
}
.list-group {
  margin-bottom: 1em;
}
