body {
  --primary: #7566a0;
  --secondary: #5b7f95;
  --accent: #fdd757;
  --text-color: #000;
  --background-color: #fff;

  --light: #d1d4d4;
  --dark: #475b86;
  --success: #44883e;
  --info: #1a658f;

  --nav-bg: #5b7f95;

  --primary-bg: #483f61;

  --content-max-width: 950px;

  font-family: 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: var(--background-color);
  color: var(--text-color);
  text-shadow: 0 0 0.5px var(--dark);
}
body.dark {
  --primary: #ae9ae4;
  --secondary: #347fad;
  --accent: #fdd757;
  --text-color: #ffffff;
  --background-color: #2f3030;

  --light: #6f7070;
  --dark: #3f4f6e;
  --success: #23461f;
  --info: #0c3349;

  --nav-bg: #374663;

  --bs-primary: var(--primary);
  --bs-secondary: var(--secondary);
  --bs-success: var(--success);
  --bs-info: var(--info);
}

nav {
  background-color: var(--nav-bg);
}
nav h2 {
  color: white;
  font-size: large;
}
nav button i {
  color: white;
}
nav button:focus {
  border-color: var(--accent);
  box-shadow: none;
}

nav .navbar-brand a,
nav .navbar-brand a:any-link {
  color: white;
  font-family: 'Nunito', sans-serif, 'Ubuntu Mono', monospace;
  font-size: 8vw;
  font-weight: 500;
  margin: 0;
}
nav .navbar-brand a:hover {
  text-decoration: none;
}

.brand {
  font-family: 'Nunito', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
}
b.brand {
  color: var(--primary);
  font-size: (100% + 1.3vm);
}

.accent {
  border: solid 2px var(--dark);
  border-radius: 5px;
  color: white;
  background: var(--dark);
}

.accent a,
.accent a:hover,
.accent a:visited,
.accent a:link,
.accent a:hover {
  color: var(--accent);
  font-weight: 600;
}

#viewdo-logo {
  padding: 1em 0 1em 1em;
}
.dark #viewdo-logo {
  filter: brightness(0) invert(1);
}

/* ELEMENTS ------ */

h1 {
  font-family: 'Nunito', sans-serif, 'Ubuntu Mono';
  margin: 1em 1em 0 0;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2em;
}
h3 {
  font-size: 1.2rem;
  border-bottom: 1px dotted var(--secondary);
  padding-bottom: 0.2em;
  display: flex;
}


.button-nav {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: stretch;
  justify-items: stretch;
  justify-content: space-between;
  gap: 0.3em
}

.button-nav > * {
  flex: 1 1 auto;
  vertical-align: middle;
}

h2,
h3 {
  color: var(--primary);
}

h2,
h3,
h4 {
  margin: 0.75em 0 0.25em 0;
}
h3 { clear: right;}

h4 {
  color: var(--text-color);
  font-size: 1.1em;
}

p {
  clear: left;
}

a,
a:link,
a:visited,
a:active {
  color: var(--primary);
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  color: var(--accent);
  text-decoration: underline;
}

.btn:hover {
  text-decoration: none;
}

blockquote {
  background: var(--background-color);
  border-left: 10px solid var(--primary);
  margin: 2em 0;
  padding: 1em;
}
blockquote > p {
  margin: 0;
}

table {
  width: 100%;
  border: solid 2px var(--nav-bg);
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: scroll;
}
table thead th {
  background-color: var(--nav-bg);
  border: solid 2px var(--nav-bg);
  color: #fff;
  padding: 10px;
  text-align: left;
}
table tbody td {
  border: solid 2px var(--nav-bg);
  color: var(--text-color);
  padding: 10px;
}

code {
  color: var(--text-color);
  font-family: 'Courier New', Courier, monospace;
}

/* X-UI ---------------*/
x-ui {
  height: 100vh;
  width: 100%;
}

x-link::part(anchor) {
  color: var(--primary);
  text-decoration: none;
  font-weight: 400;
}
x-link::part(anchor:hover) {
  color: var(--accent);
  text-decoration: underline;
}

x-link.text-white::part(anchor) {
  color: white;
}

x-ui > x-view {
  max-width: var(--content-max-width);
  padding: var(--bs-gutter-x, 0.75rem);
  margin-right: auto !important;
  margin-left: auto !important;
}

x-markdown pre {
  clear: both;
}

.active-route-exact .modal,
x-view-do .modal {
  display: block;
}

x-ui-theme {
  z-index: 1;
  margin: var(--bs-gutter-x, 1rem);
  text-align: right;
  top: 20px;
}

.component-list {
  position: sticky;
  z-index: 5;
}

footer {
  background-image: linear-gradient(to bottom, transparent, var(--background-color));
  background-size: fill;
  position: sticky;
  z-index: 1;
  bottom: 0;
  width: 100%;
  padding: 3vh 0 1vh 0;
  overflow: auto;
}
footer::after {
  content: '';
  clear: both;
  display: table;
}
footer [slot='end'] {
  float: right;
  right: 0;
}
footer [slot='start'] {
  float: left;
}

.modal-dialog {
  margin: 10em auto;
}
.modal-content {
  background-color: var(--background-color);
}

/* Bootstrap ------------------*/

.btn-primary {
  background-color: var(--primary-bg);
  border-color: white;
}
.btn-primary:hover {
  background-color: var(--primary-bg);
  color: var(--accent);
  border-color: white;
}


.btn-secondary {
  background-color: var(--secondary);
  color: white;
}
.btn-secondary:hover {
  background-color: var(--secondary);
}

a.btn-primary:any-link {
  color: white;
}
a.btn-secondary:any-link {
  color: white;
}
a.btn-info:any-link {
  color: white;
}

.btn-light {
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--text-color);
}
.btn-light:hover {
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--text-color);
}

.container-fluid {
  max-width: var(--content-max-width);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu,
.dropdown-item,
.dropdown-item-text {
  color: var(--text-color);
  background-color: var(--background-color);
}

.dropdown-item a {
  color: var(--dark);
  font-weight: 600;
}
.dropdown-item a:hover {
  color: var(--light);
  text-decoration: none;
}

.list-group {
  clear: both;
  margin-bottom: 1em;
  color: white;
  border-color: var(--primary);
  background-color: var(--background-color);
}

.card {
  clear: right;
  background-color: var(--background-color);
}

.accordion-button,
.list-group-item {
  color: white;
  background-color: var(--nav-bg);
}

.list-group-item i,
.list-group-item a {
  color: white;
  font-weight: 400;
}

.accordion-button:not(.collapsed) {
  color: var(--accent);
  background-color: var(--nav-bg);
}

.form-floating > label {
  color: #000;
}
